@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/section-informacoes.css");
@import url("styles/section-vagas.css");
@import url("styles/section-opinioes.css");
@import url("styles/footer.css");

:root {
    --branco: #FFFFFF;
    --vermelho: #8E2424;
    --cor-rodape: #F9FAFB;
    --rosa-claro: #fcefef;
    --cinza: #667085;
    --cinza-claro: #EAECF0;
    --cor-titulo: #101828;
    --fonte-principal: "Inter";
}

body {
    background: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza);
}