.opinioes {
    margin: 0 3em 3em 3em;                                                                                                                                                                                                                                                     ;
}

.opinioes__container {
    background: var(--rosa-claro);
    padding: 4em 2em;
    border-radius: 10px;
    text-align: center;
}

.opinioes__titulo {
    color: var(--vermelho);
    font-weight: 600;
    font-size: 14px;
}

.opinioes__texto {
    font-size: 36px;
    font-weight: 500;
    color: var(--cor-titulo);
    padding: 1em 0;
}

.opinioes__nome {
    font-size: 16px;
    font-weight: 500;
    color: var(--cor-titulo);
    padding: 1em 0 0.8em 0;
}

.opinioes__profissao {
    font-size: 14px;
}