.equipe {
    padding: 8em 0;
    text-align: center;
}

.equipe__apresentacao-titulo {
    display: inline-block;
    color: var(--vermelho);
    font-weight: 500;
    font-size: 14px;
    background-color: var(--rosa-claro);
    padding: 0.5em 0;
    width: 10%;
    margin-inline: auto;
    justify-content: center;
    border-radius: 20px;
}

.equipe__apresentacao-convocacao {
    font-size: 36px;
    font-weight: 600;
    color: var(--cor-titulo);
    padding: 1em 0;
}

.equipe__apresentacao-texto {
    font-size: 20px;
    margin-bottom: 3em;
}

.vagas__area {
    font-size: 20px;
    font-weight: 500;
    color: var(--cor-titulo);
    padding: 1em 0;
    margin: 2.5em auto 1em 12em;
    text-align: start;
}

.vagas__oportunidades {
    padding: 1em 5em 1em 2em;
    border: 0.05em solid var(--cinza-claro);
    border-radius: 10px;
    margin: 1em auto;
    width: 55%;
    justify-content: center;
}

.vagas__oportunidades-titulo {
    font-size: 18px;
    font-weight: 500;
    color: var(--cor-titulo);
    padding: 0.5em 0 1.5em 0;
    text-align: start;
}

.vagas__informacoes {
    display: flex;
}

.vagas__oportunidades-informacoes-salario {
    padding-left: 1.2em;
}

